<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9uq9ANVdsbAWbYS9KFSt3AIA7Z6O4F3CIyZM3E6sE60tY860_JDEVkw4ZFUhgrGSCqKUDwiOKCGpEbJ_7</string>
	<key>oauthRedirectURI</key>
	<string>https://orgfarm-6e6a94ed0c-dev-ed.develop.my.site.com/services/oauth2/echo</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
